extends ./layout.pug

block content
	header.circle--header
		.bounds
			.circle--fluid
				.circle--fluid--cell
					a.logo(href='/')
						include ./partials/_twitter_icon.pug
						
	.error
		h2 &macr;\_(&#x30C4;)_/&macr;
		h4 Oh no! This is certainly embarrassing. Your request returned an error: #{err.errno}
		h4 Please try your request again.