extends ./layout.pug

block content
	include ./partials/_header.pug
	include ./partials/_tweetarea.pug
	
	.bounds.app--body
		.app--section--header
			.grid-33
				.app--section--heading
					h2 Timeline
			.grid-33
				.app--section--heading
					strong 17
					h2 Following
			.grid-33
				.app--section--heading
					h2 Direct Messages
		include ./partials/_timeline.pug