doctype html
html(lang="en")
	include ./partials/_head.pug
	
	body
	block content
	
	
	script(src='./js/jquery-3.2.1.js')
	script(src='/socket.io/socket.io.js')
	script(src='./js/script.js')
	script(src='./js/client.js')