.grid-33
			.app--section
				ul.app--message--list
					li
						for message in messages
							h3
								| Conversation with 
								a #{message.sender_screen_name}
							ul.app--message--conversation
								li.app--message
									.app--avatar(style='background-image: url(' + message.sender.profile_image_url + ')')
										img(src=src=message.sender.profile_image_url)
									p.app--message--text #{message.text}
									p.app--message--timestamp #{message.created_at}