svg(version='1.1', id='GraphicMama.com', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 2570 2094', style='enable-background:new 0 0 2570 2094;', xml:space='preserve')
							style(type='text/css').
								.st0{fill:#88BFA7;}
								.st1{opacity:0.15;}
								.st2{opacity:0.25;fill:#FFFFFF;}
								.st3{fill:#689884;}
								.st4{fill:#EFE989;}
								.st5{fill:#358061;}
								.st6{fill:#FCD203;}
								.st7{fill:#DB903F;}
								.st8{opacity:0.1;}
								.st9{opacity:0.3;fill:#FFFFFF;}
								.st10{fill:#2C674E;}
								.st11{fill:#E8F6FD;}
								.st12{opacity:5.000000e-02;}
								.st13{fill:#7C9F3E;}
								.st14{fill:#B3D34B;}
								.st15{fill:#FFFFFF;}
								.st16{fill:#264554;}
								.st17{opacity:0.3;}
								.st18{opacity:0.8;fill:#FFFFFF;}
								.st19{fill:#563416;}
								.st20{opacity:0.4;}
								.st21{opacity:0.7;fill:#FFFFFF;}
								.st22{fill:#612124;}
								.st23{fill:#371212;}
								.st24{opacity:0.2;}
								.st25{fill:#B3353B;}
								.st26{opacity:0.2;fill:#FFFFFF;}
								.st27{fill:#254A3A;}
								.st28{fill:#974321;}
							g
								g
									g
										path.st0(d='M1806.6,1124.2c0,0-47.3-146.4-65-144.9c-24,2-33.6,36.9-37.6,162.2c-3.4,107.1-6.7,192.6,17.8,219.8\
										c24.3,26.9,126,38.3,129.1-44.3C1853.9,1238.2,1806.6,1124.2,1806.6,1124.2z')
										path.st1(d='M1851,1316.9c0.6-14.9-0.7-31.1-3.1-47.7c-1.2,6.1-3.4,12-5,17.9c-14.7,53.3-98.1,50.6-109.5-8.4\
										c-5.4-27.8-7.5-57.8-8.2-88.9c-0.8-35.3-1.6-72.3-0.5-111.5c0.5-18,1.5-36.7,6.3-55.6c3.1-12.2,10-26.7,19.7-28\
										c1.9-0.3,3.7,0.1,5.3,0.7c-5.7-10.1-10.7-16.5-14.3-16.2c-24,2-33.6,36.9-37.6,162.2c-3.4,107.1-6.7,192.6,17.8,219.8\
										C1746.1,1388.1,1847.8,1399.5,1851,1316.9z')
									g
										path.st0(d='M1722.6,1349c0,0,19.1-65.8,141.1-180.4c91.5-85.9,190.2-67.9,206.4,8.6c16.4,77.7-62.7,116.8-116.8,146.3\
										C1890.2,1357.9,1721.9,1424.6,1722.6,1349z')
										path.st2(d='M1876.3,1214.9c40.2-30.4,69.3-45.3,113.2-60.9c23.6-8.4,47.8-11.3,69.1-6.4c-30.7-49.8-115.4-53.7-194.9,21\
										c-39.1,36.7-68.6,69.9-90.2,97.6c-11.6,22.5-13.1,43.9-3.3,62.2C1770.1,1328.4,1820.3,1257.3,1876.3,1214.9z')
										path.st1(d='M2070,1177.2c-2.6-12.5-7.2-23.2-13.2-32.1c-1.4,42.4-33.4,84.9-80.7,122.5c-36.5,29-116.5,89.8-186.2,85.2\
										c-33.8-2.2-47.6-18.8-48.9-40.6c-15.1,24.6-18.6,36.8-18.6,36.8c-0.7,75.6,167.7,8.9,230.7-25.5\
										C2007.4,1294,2086.5,1254.8,2070,1177.2z')
									g
										path.st0(d='M2045.2,1071.4c7.2-3.7,79.1-71,85.8-147.6c6.7-76.6-169.5,140.3-169.5,140.3l-52.2,61.4c0,0-33.9,35-7.7,88\
										c26.2,53,67.6,79.3,130.9,70c0,0,112.3,135.1,142.8,124.8c30.5-10.4-1-67.3-34.5-101.2c-33.5-34-56.8-54.5-56.8-54.5\
										s119.7,90.7,172,92.9c52.2,2.2,60.5-41.3-24.6-83.3c-81.4-40.1-106.9-54.7-106.9-54.7s163.4,86.9,221.6,72.1\
										c58.3-14.8-41.5-73.3-87.9-90c-46.4-16.8-124.1-44.4-124.1-44.4s145.1,39,197.9,9c52.8-30-31.2-60.6-101.3-66.5\
										C2160.6,1081.7,2045.2,1071.4,2045.2,1071.4z')
										path.st1(d='M2045.6,1071.1c8.8-5.4,78.9-71.8,85.4-147.4c1.4-16-5.2-19.2-16.6-14.2c13.4,1.4,2.4,31.8-1.6,42.5\
										c-8.6,23.1-18.4,43.8-41.6,68.6c-16.9,18-46.4,42.8-61.9,50.3C2017.3,1071.8,2037.7,1072.5,2045.6,1071.1z M2026.9,1168\
										c4.6-18.1,0.8-48.9-23.1-76.7c4.9,18.8,14.5,56.9-17.1,89.9c-14,14.7-32.9,21.4-39.5,20.8\
										C1976.4,1219.8,2015.8,1199.6,2026.9,1168z M2124.1,1142.3c19.1,5.6,38.1,9.4,54.3,12.7c47.1,9.1,119.6,18.4,153.7-0.9\
										c20.5-11.7,20.3-23.4,8.3-33.8c-0.2,0.6-0.4,1.1-0.7,1.6c-3,6-10.1,8.6-16.6,10.4c-40.5,11.3-83.4,14.1-125.1,8.3\
										c-26.5-3.7-54.2-11.9-71.3-32.5C2127,1118.3,2124.7,1134.7,2124.1,1142.3z M2361,1255.7c-2.7,2.8-6.4,4.8-10.3,5.6\
										c-6.6,1.5-13.5,0.4-20.1-0.7c-61-10.2-122.4-24.4-176.6-54.2c-16.8-9.3-28.8-19-37.9-35.9c-0.9,9.1-4.9,19.3-8.4,27.7\
										c12.6,7.7,25.8,13.8,39,20.5c28.5,14.5,54,25.3,56.9,26.2c50.2,21.4,111.3,42.5,142.4,34.6\
										C2364.2,1275,2367.1,1266.2,2361,1255.7z M2284.7,1321c-14.2,0.8-28-4.2-41.1-9.7c-23.6-9.8-46.5-21.2-69.4-32.5\
										c-21-10.5-42-20.9-63.1-31.4c-2.9-1.4-5.8-2.9-8.2-5.1c0,0-2.3-21.8-4.6-27.2c-3.2,13.8-9.8,23.1-17.2,35.2\
										c1.7,1.2,2.9,2.2,2.9,2.2s119.7,90.7,172,92.9c28.8,1.2,42.6-8.7,35.8-26.3C2289.7,1320.2,2287.1,1320.9,2284.7,1321z\
										M2167.2,1377.3c-7.7-0.4-14.7-4.3-21.2-8.3c-31.9-19.7-86.7-91.9-89.8-91.2c-9.5,2-29.5-4.3-27.9-12.9\
										c1.1-5.9,22.5-66.6,17.7-106.5c-5.4,22.2-37.2,104-41,104.5c-37.3,4.5-64.4-7-93.1-31.2c26.4,40.8,65,60.1,120.7,52\
										c0,0,112.3,135.1,142.8,124.8c14.4-4.9,15-20.1,8.1-38.3C2180.1,1374.9,2173.4,1377.6,2167.2,1377.3z')
										path.st2(d='M2134.2,1174.3c3.3,1.8,7.2,2.4,10.9,2.9c63.9,9.5,128.4,35,187.6,60.7c-14.1-11.1-26.2-18-38.3-25\
										c-13-7.5-24.5-13.2-38.2-19.3c-20-8.8-60.1-22.2-89.1-30.1c-8-2.2-37.1-14.7-38.6,1.5C2128.2,1169,2130.8,1172.5,2134.2,1174.3z\
										M1983.1,1077.6c38.9-31.3,82.5-79.2,108.3-122c4.9-8.1,9.8-16.1,8.6-27.3c-4.4-3.5-17.9,12.8-22.6,17.7\
										c-9,9.3-17.9,18.7-26.7,28.2c-17.6,18.9-34.8,38.2-51.2,58.3c-8.4,10.4-24.5,29.4-33.2,39.5c-4.7,5.4-10.2,11.2-15.9,17.2\
										c-22.9,24.7-34.9,33.9-43.1,54.1c-7.5,18.3-10.9,40.8-3.8,54.6c10.3-40.2,32-70.4,62.7-74.6c22.8-3.1,26.7,10.5,31.8,16\
										C2005.3,1116.8,1997.2,1089.4,1983.1,1077.6z M2141.7,1108.5c2.8,1.6,6.1,1.6,9.3,1.5c20.9-0.6,41.8-3.6,62.7-4.3\
										c35-1.2,70.6,3.1,105,9.2c-43.8-20.6-76.2-19.8-105.1-21.7c-18-1.2-52.4-1.6-69.6,3.7c-2.1,0.7-4.4,1.6-5.5,3.6\
										C2137.1,1103.3,2139,1106.9,2141.7,1108.5z M2114.5,1110.2c0-2.1,0-4.4-1-6.2c-1-1.9-2.9-3.2-4.8-4.2\
										c-11.4-6.1-25.9-6.2-37.4-0.2c11.7,20.8,12.1,46.1,9.4,69.9c-2.2,19.3-6.3,38.4-12.2,56.9c-4.8,15-12.5,35.1-17.9,45c0,0,0,0,0,0\
										c17.2-10.4,30.2-42.3,38.3-59.4C2104,1180.1,2114,1145.6,2114.5,1110.2z M2180.1,1239.3c-22.4-10-32.6-14.3-48.2-18.8\
										c-14.5-4.2-16.5,8.8-1.2,13.7c49.8,15.9,106.7,43.8,142.7,62.4c-16.7-15.7-26.5-22-45-32.6\
										C2213.1,1255.3,2196.2,1246.5,2180.1,1239.3z M2120.1,1292.6c-8-7.5-18.1-18.4-28.3-22.9c-14-6.1-9.4,6.9-0.5,13.2\
										c31.8,22.6,56.6,47.9,78.3,73.1c-4.8-10.7-16.9-27-24.1-36C2137.7,1310.3,2129.2,1301.1,2120.1,1292.6z')
								g
									path.st3(d='M1058.1,1460.5c-9.1,6.9-32.8,94.8-173.8,121.6c-141,26.8-144.3,12.5-144.3,12.5s73.6,56.2,177.8,22.3\
									c0,0-72.4,51.2-208.8,73.7c0,0,46,27.1,139.1,6.2c93.1-20.9,116-45.2,116-45.2s-143.5,117.9-235,144.8c0,0,21.9,17.3,121-16\
									c99.1-33.4,146.6-76.3,146.6-76.3s-37.1,68.2-86.3,116.9c-49.2,48.7-49.2,48.7-49.2,48.7s139-59.2,192.9-135.1\
									c53.9-75.9,65.2-89.7,65.2-89.7s-39.6,98.8-67.5,158.5c-27.9,59.6-23.3,48-23.3,48s86.3-66.5,129.5-149.1\
									c43.3-82.6,54.8-188.3,49.9-206.4C1202.8,1477.9,1058.1,1460.5,1058.1,1460.5z')
									path.st1(d='M1207.8,1496c-5-18.1-149.7-35.4-149.7-35.4c-7.6,5.7-25.4,67.8-112.8,103.8c6.5,4.8,13.5,9.1,20.8,12.8\
									c-61.8,38.1-143,39.8-214,21.1c-0.3-0.1-0.6-0.2-0.9-0.2c-4.6-0.4-7.4-1.1-9-1.8c12.5,8.5,74.2,46.1,159.3,25.2\
									c18.8-6.2,37-14.1,54-23.7c-8,21.1-28.8,35.9-49.8,47c-47.2,25-101.6,37.9-155.8,37.9c-13,2.9-26.7,5.6-41.1,8\
									c0,0,46,27.1,139.1,6.2c43.9-9.9,72.2-20.5,89.8-28.9c15.5-8.8,30.9-17.7,46.2-26.8c-12,29.5-38.7,51.4-64.5,72.1\
									c-24.6,19.8-49.5,39.7-78.7,53c-19.4,8.8-40.3,14.4-61.2,19.6c-16.3,4-32.7,7.7-49.3,10.2c-0.4,0.1-0.9,0.3-1.3,0.4\
									c0,0,21.9,17.3,121-16c99.1-33.4,146.6-76.3,146.6-76.3s-37.1,68.2-86.3,116.9c-49.2,48.7-49.2,48.7-49.2,48.7\
									s139-59.2,192.9-135.1c53.9-75.9,65.2-89.7,65.2-89.7s-39.6,98.8-67.5,158.5c-15.4,33-20.9,44.2-22.7,47.6\
									c7.1-5.6,87.6-69.8,129-148.7C1201.2,1619.8,1212.8,1514.1,1207.8,1496z M1029,1851.1c-0.3,0.3-0.6,0.4-0.6,0.4\
									S1027.5,1853.8,1029,1851.1z M742.3,1596.3c-1.5-1-2.4-1.7-2.4-1.7S740.1,1595.4,742.3,1596.3z')
								g
									path.st0(d='M1781.2,527.9c-1.1,63.7-2.6,127.3-6.6,190.8c-7.6,123-20.4,245.8-40.1,367.4\
									c-26.3,161.3-64.6,319.9-116.9,474.1c-0.2,0.3-0.2,0.6-0.4,0.9c-19.3,45.5-14.8,57.7-45.9,70.8c-6.9,2.7-14.2,5.1-22,7\
									c-45.8,10.6-93.6,9.2-140.3,10.7c-50.7,1.6-101.5,3.1-152.3,3.4c-62.7-2.6-125.4-4.4-188.1-6.1c-8.5-2.3-17-4.5-25.5-6.6\
									c-25.3-9.1-47.6-24.3-58.7-50.5c-10.2-24.3-12.9-51.6-16.2-78.6c2.3-123.8-117.6-1037.5-123.2-1121.7c-21.4-5.2-44.1-6.4-65.2-1.7\
									c10.4-10.7,29.7-16.8,49.9-15.8c-18.8-9.5-40-16.7-61.9-21c24.9-3.1,60.8,3.3,81.6,15.5c-6.4-12.2-23.2-24.4-35.3-34.9\
									c18.9,5.6,40.3,18.5,52.5,32.4c20.1-5.4,38.9-10.2,56.6-14.4c3.6-0.8,7.1-1.7,10.5-2.5c7-1.7,13.7-3.2,20.4-4.6\
									c3.3-0.7,6.6-1.4,9.8-2.1c5.2-1.1,10.4-2.2,15.4-3.2c2.4-0.5,4.8-1,7.3-1.4c0.1,0,0.2-0.1,0.2-0.1c57.1-11.2,104.8-17,157.1-22.5\
									c0.4-0.1,0.7-0.1,1.1-0.1c5.7-0.6,11.4-1.2,17.2-1.8c2.7-0.3,5.4-0.8,8.1-1.4c1.1-0.2,2.1-0.5,3.2-0.8c2.4-0.7,4.8-1.6,7-2.6\
									c1.2-0.5,2.3-1,3.5-1.6c1.1-0.5,2.3-1.1,3.3-1.7c2.4-1.4,4.8-2.9,7.2-4.5c1.9-1.3,3.7-2.7,5.5-4.2c1-0.8,2-1.7,3-2.6\
									c3.3-2.9,6.4-6.1,9.3-9.5c0.8-0.9,1.6-1.7,2.3-2.6c2.5-3,4.9-6.2,7.3-9.5c1.2-1.7,2.4-3.5,3.6-5.2c0.8-1.3,1.6-2.5,2.3-3.7\
									c0.8-1.1,1.4-2.2,2-3.3c1.3-2.3,2.6-4.5,3.9-6.8c11.9-21.5,20.7-45.4,26.9-65.9c0-0.3,8.7-31.9,9.1-34.1c0.4-1.4,0.7-2.8,1-4\
									c0.2-0.6,0.3-1.2,0.4-1.8c1.3-6.1,2-9.6,2-9.6c32.4,77.7,8.6,123.6,8.6,123.7c87.8-28.2,127.8-173,128.3-173\
									c0,0,16.8,24.3,18.9,79.5c2.4,62.2-65.9,108.1-65.9,108.3c78.5-4,170.3-66.2,170.8-66.2c0.1,0.1,7.6,18.9-50.6,63.7\
									c-57.2,44.4-138.5,47.6-144.4,47.7c40.6-1.4,347.9,37.6,446.7,65.9C1788.4,432.5,1782,482.7,1781.2,527.9z')
									path.st2(d='M1266.1,345.6c34.9,212.1,67.8,334,91.1,566.1c23.9-24.6,53.7-41.3,82.4-8.2c-8.1-46.7-10.5-97.8-11-115.4\
									c-3.1-128.9,17.7-244.3,20.9-354.5c0.8-29.1,7.6-73.2,7.6-73.2C1425.4,337.3,1297.6,337.1,1266.1,345.6z')
									path.st4(d='M1409,1649.6c31.9-1,64.3-0.7,96.2-3.8c2.9-10.2,5.6-19.2,7.8-24.4c24-57.6,54.3-212.4,38.7-242.9\
									c12.2-0.1,24.3-0.1,36.4-0.2c-12.6-5.9-27.7-9.2-42.4-9.3c-0.8-1.1-1.6-2.1-2.4-3.1c9.3-5.1,20.3-8.9,32.2-10.8\
									c-13.3-3.2-27.7-3.4-40.1-0.4c6.9-5.9,13.9-11.7,20.8-17.5c-12.4,1.7-22.7,7.5-27.6,15.2c-8.5-5.9-18.4-10.1-30-12.9\
									c-62.3-14.9-230-30.6-306.5,12.8c-3.8-10.4-12.1-21.2-17.9-32.4c3.3,11.7,4.8,23.7,4.5,35.5c-10.2-9.9-25.9-17-42.4-19.3\
									c13.3,7.5,24.2,17.3,31.2,28.1c-13.8-4.4-30.3-3.2-41.5,3c13.2,1.6,27.9,4,37.5,10.5c-5.8,9.1-17,144.8-9.2,271.7\
									c34.7,1,69.3,2.2,104,3.6C1308.7,1652.7,1358.8,1651.2,1409,1649.6z')
									path.st1(d='M1484,372.5c-2.5-0.7-67.4,387.5-15.6,597.8c0-0.7,97.4-46.5,281.1,12.7c11.5-87.7,19.6-175.9,25.1-264.2\
									c3.9-63.6,5.5-127.1,6.6-190.8c0.6-32.3,4-67,4.9-101.3C1693.9,379,1484,372.2,1484,372.5z M1370.5,268.8\
									c-17.6,9.5-36.3,18.2-53.7,23.3c95.6,1.8,173-36.6,217.4-82.9c-0.1-0.6-0.2-1-0.2-1c-0.1-0.2-92.2,62.2-170.9,66.2\
									C1363.1,274.4,1366,272.4,1370.5,268.8z M1022.9,1557.2c-27.2-137.2-17.5-349.4-21.9-509.8c-1.6-50.8,47.2-81.7,145-94.9\
									c82.6-11.2,158.4,18.3,158.4,18.3c33.5-435.7-79-610.7-77.2-612.2c-17.9-5.5-35.8-11-53.7-16.6c6.4-2,32.2-12.3,37.5-15.3\
									c12.7-7.3,19.5-18,25.3-28.6c26.3-48.1,42.2-113.5,35.9-157.2c-0.3,1.3-0.6,2.8-1.1,4.5c-0.1,0.6-0.2,1.2-0.4,1.8\
									c-0.3,1.3-0.6,2.6-1,4c-0.5,2.1-1,4.5-1.6,7c-0.2,0.8-7.5,26.7-7.5,27c-6.3,20.4-15.1,44.4-26.9,65.9c-1.3,2.3-2.6,4.5-3.9,6.8\
									c-0.7,1.1-1.4,2.2-2,3.3c-0.8,1.2-1.6,2.4-2.3,3.7c-1.1,1.7-2.3,3.5-3.6,5.2c-2.4,3.3-4.8,6.5-7.3,9.5c-0.8,0.9-1.4,1.7-2.3,2.6\
									c-3,3.3-6.1,6.6-9.3,9.5c-1,0.9-2,1.8-3,2.6c-1.8,1.5-3.6,3-5.5,4.2c-2.3,1.7-4.8,3.2-7.2,4.5c-1.1,0.7-2.2,1.2-3.3,1.7\
									c-1.1,0.6-2.3,1.1-3.5,1.6c-2.3,1.1-4.7,1.9-7,2.6c-1.1,0.3-2.1,0.6-3.2,0.8c-2.6,0.7-5.4,1.1-8.1,1.4c-5.8,0.6-11.5,1.2-17.2,1.8\
									c-0.4,0-0.7,0-1.1,0.1c0,0-87.1-2.7-157.1,22.5c-0.1,0-0.2,0.1-0.2,0.1c-2.4,0.5-4.8,1-7.3,1.4c-5.1,1-10.2,2.1-15.4,3.2\
									c-3.3,0.7-6.5,1.4-9.8,2.1c-6.7,1.4-13.4,3-20.4,4.6c-3.4,0.8-7,1.7-10.5,2.5c-17.7,4.2-36.5,8.9-56.6,14.4\
									c-12.1-13.9-33.5-26.8-52.5-32.4c12.1,10.5,28.9,22.7,35.3,34.9c-20.8-12.3-56.7-18.6-81.6-15.5c22,4.3,43.1,11.5,61.9,21\
									c-20.1-1-39.5,5.1-49.9,15.8c21.1-4.7,43.8-3.6,65.2,1.7c5.5,84.2,125.5,997.8,123.2,1121.7c3.3,26.9,6,54.3,16.2,78.6\
									c11.1,26.2,33.4,41.4,58.7,50.5c8.6,2,17,4.3,25.5,6.6c62.7,1.7,125.4,3.5,188.1,6.1c50.8-0.3,101.6-1.8,152.3-3.4\
									c46.7-1.5,94.5-0.1,140.3-10.7c7.8-1.9,15.1-4.2,22-7c31.2-13.1,26.6-25.3,45.9-70.8c0.1-0.3,0.2-0.7,0.2-1\
									C1593.7,1579.4,1042.1,1653.9,1022.9,1557.2z M1395,181.2c12.5-24.6,14.8-61.1,16.4-83.9c-0.5-4-0.8-6.4-1-8\
									c-0.4,0.1-0.8,0.2-1.2,0.3c-6.7,20.1-46.5,142.7-126,169.5c-4.3,7.6-8.9,14.7-13.6,20.8C1332.9,272.4,1376.7,216.8,1395,181.2z')
								g
									g
										path.st0(d='M847,1095.4c0,0,37.5-147.1,57-145.9c26.5,1.6,37.7,36.4,44.2,161.6c5.5,107,22.8,192.5-3.8,220\
										c-26.3,27.3-138.3,40.2-143.1-42.3C796.8,1210.2,847,1095.4,847,1095.4z')
										path.st1(d='M801.4,1288.8c-0.9-14.9,0.3-31.1,2.6-47.7c1.4,6.1,3.9,11.9,5.8,17.8c17.1,53.1,109,49.1,120.6-10.1\
										c5.4-27.9-4.8-57.9-4.6-89c0.3-35.3,0.6-72.3-1.3-111.5c-0.9-18-2.3-36.7-7.8-55.5c-3.6-12.2-11.5-26.5-22.2-27.7\
										c-2.1-0.2-4,0.1-5.8,0.8c6.1-10.2,11.5-16.6,15.5-16.4c26.5,1.6,37.7,36.4,44.2,161.6c5.5,107,22.8,192.5-3.8,220\
										C918.2,1358.4,806.3,1371.3,801.4,1288.8z')
									g
										path.st0(d='M951.6,1294.1c0,0-47.7-53.2-220.8-111c-129.9-43.4-222.4,11.7-205.9,88.4c16.7,77.9,113.9,83.1,181.5,89.2\
										C785.2,1367.7,984.9,1363.5,951.6,1294.1z')
										path.st2(d='M737.9,1230.6c-53.9-12.3-89.8-14.7-141.1-11.9c-27.6,1.5-53.5,8.2-72.9,21.1c9.8-57.9,94.1-94.4,206.9-56.7\
										c55.5,18.6,99.7,37.6,133.6,54.7c21.5,16.1,32.2,35.3,30.1,56C894.5,1293.7,812.9,1247.8,737.9,1230.6z')
										path.st1(d='M524.9,1271.4c-2.7-12.5-2.7-24.1-0.5-34.7c19.7,38.5,70.5,65.2,134.6,81.3c49.5,12.5,156.9,37.2,225.7,5.9\
										c33.4-15.2,40.2-35.9,32.1-56.5c25.9,16.8,34.7,26.6,34.7,26.6c33.2,69.4-166.4,73.6-245.2,66.6\
										C638.8,1354.6,541.6,1349.3,524.9,1271.4z')
									g
										path.st0(d='M504.6,1164.3c-8.9-0.6-110.9-34.5-150.7-102.4c-39.7-67.9,232.5,63,232.5,63l79.4,36.2c0,0,49.5,19,45.7,78\
										c-3.8,59-34.5,99.3-102.8,115.6c0,0-55.9,168.2-91.3,170.6c-35.5,2.4-28-62.3-8.6-106.7c19.4-44.4,34.2-72.4,34.2-72.4\
										s-82.6,130.2-134.7,152.6c-52.1,22.4-79.2-14.5-10.8-86.3c65.4-68.7,85-92.1,85-92.1s-128.5,143.7-194,152.9\
										c-65.5,9.2,10.6-83.6,50.5-117.2C379,1322.7,446,1267,446,1267s-130.6,92.5-197.1,85.4c-66.5-7.1,5.6-68,74.3-100.8\
										C391.9,1218.8,504.6,1164.3,504.6,1164.3z')
										path.st1(d='M540.9,1150c-19-0.8-59.6-12.1-84.5-22.1c-34.3-13.8-53.1-29-71.8-47c-8.7-8.3-32.9-32-19.9-38.6\
										c-13.7-0.2-19.1,5.3-10.8,19.5c39.2,67,138.9,100.8,150.2,102.3C512.7,1162.5,533.1,1153.9,540.9,1150z M660.2,1246.4\
										c-6.5,3.1-28.5,4.3-49.1-3.7c-46.2-18.1-52.9-56.9-56-76.1c-12.2,34.9-2.8,64.8,9.6,79.6C589.6,1270.9,638.3,1274.2,660.2,1246.4\
										z M437.6,1230c-8.5,25.6-33.1,44-58.4,57.7c-39.8,21.6-84.5,35.7-130.6,41.2c-7.4,0.9-15.7,1.3-21.3-3.1c-0.5-0.4-1-0.8-1.4-1.3\
										c-7.7,14.2-2.8,25.1,23,27.9c42.9,4.6,112.5-32.3,156.5-59.1c15-9.3,32.7-20.3,49.7-32.9C451.1,1253.7,441.7,1239.5,437.6,1230z\
										M288.6,1473.5c35-4.9,88-48.2,129.7-87.4c2.6-2,23.8-21.9,46.5-46.4c10.5-11.3,21.3-22.1,30.8-34c-7.2-6.4-15.5-14.2-20.4-22.3\
										c-3.1,29.7-20.7,46.2-49.4,75.5c-39.7,40.5-86.9,75.4-141.6,97.3c-2.6,1-5.3,1.9-8.1,2.3c-4.3,0.7-8.9,0.3-12.9-1.2\
										C261.6,1469.3,268.2,1476.3,288.6,1473.5z M360.7,1488.6c0.7,18.9,18.9,22.7,47.7,10.3c52.1-22.4,134.7-152.6,134.7-152.6\
										s0.8-1.3,2-3.1c-12.7-8.2-23.4-14.3-32.6-25.7c0,5.9,7.1,26.8,7.1,26.8c-1.5,2.9-3.8,5.4-6.1,7.9c-23.4,24.8-46.9,49.6-70.3,74.3\
										c-14.1,14.9-28.6,29.5-44.3,43c-8.9,7.6-18.6,14.4-30,18.1C366.3,1488.5,363.4,1488.9,360.7,1488.6z M492.6,1493.2\
										c0.9,19.5,8.1,33.2,24.8,32.1c35.5-2.4,91.3-170.6,91.3-170.6c60-14.3,90.9-47.1,100.2-95c-18.8,33.5-41.3,54.7-81.2,65.1\
										c-4,1-71.5-61.8-86.5-80.2c12.2,38.7,60.1,86.1,63.7,91.2c5.3,7.3-12.3,20.9-22.8,22.8c-3.4,0.6-28,88.5-51.9,119\
										c-4.9,6.3-10.3,12.6-17.9,15.9C506.1,1496.3,498.2,1496.4,492.6,1493.2z')
										path.st2(d='M460.3,1283.2c-8.5-14.4-32.6,8.5-39.8,13.7c-26,18.6-61.1,46.5-77.5,62.4c-11.3,10.9-20.5,20.7-30.5,32.7\
										c-9.3,11.1-18.6,22.2-28.1,37.9c49.1-46.8,103.6-95.5,164.4-129.1c3.6-2,7.2-4,9.8-7C461.1,1290.9,462.3,1286.6,460.3,1283.2z\
										M581.7,1208.4c2.8-7,0.9-21.1,25.4-27.1c33.1-8.1,68,11.3,95.8,44.2c1.3-15.5-11.9-34.9-27.3-48.8c-17.1-15.4-33.3-19.2-67.1-33\
										c-8.4-3.3-16.5-6.5-23.5-9.6c-13.2-5.8-37.7-17.1-50.7-23.4c-25.2-12.1-51-23.1-77.1-33.7c-13-5.3-26.1-10.4-39.2-15.5\
										c-6.9-2.7-27.6-12.4-30.6-7.5c3.7,10.7,12.1,16.2,20.5,21.8c44.6,29.3,109.5,56.4,162.4,70.1\
										C561.1,1162.2,564.6,1190.6,581.7,1208.4z M422.2,1227.6c-1.9-1.4-4.7-1.3-7.1-1.1c-19.8,1.8-54.5,15.6-72.3,23.7\
										c-28.5,13-61.8,24.9-97.4,61c32.3-19.1,66.7-36.9,102.7-49.4c21.6-7.5,44-12.9,65.5-20.5c3.3-1.2,6.7-2.5,8.8-5\
										C424.7,1233.7,424.9,1229.6,422.2,1227.6z M520.7,1310.8c15.6,12.6,42.5,36.8,64.5,39.7c0,0,0,0,0,0\
										c-9.7-6.9-26.2-22.5-37.5-34.4c-13.9-14.7-26.3-30.7-36.9-47.6c-13-20.8-23.4-44.2-20.5-68c-14.3-1.1-28.9,4.7-37.9,14.8\
										c-1.5,1.7-2.9,3.6-3.1,5.7c-0.2,2.1,0.7,4.2,1.7,6.1C466.7,1259.5,491.7,1287.4,520.7,1310.8z M404.6,1409.5\
										c-16.4,19.5-23.9,28.8-34.8,51.3c28.5-31.2,74.3-79.1,118.1-113.2c13.5-10.5,5.8-21.7-7.1-12.2c-14,10.4-22.6,18.4-41.4,36.7\
										C427.1,1384,415.5,1396.6,404.6,1409.5z M509.7,1432.4c-3.5,11.1-8.8,30.9-9,42.6c11.2-31.7,25.5-64.7,48.1-97.9\
										c6.3-9.3,5.4-23.1-6.2-12c-8.4,8.1-14,22.1-18.9,32.1C518.1,1408.7,513.4,1420.4,509.7,1432.4z')
								g
									g
										path.st5(d='M1094,1561.4c-0.8,10.7-0.3,21.6,1.5,32.2c-11-3.5-22.8-4.4-34.1-2.4c7,4.9,13,11.2,17.6,18.4\
										c-13,5.5-25.6,12.1-37.6,19.6c10.5,1.1,20.9,4.1,30.4,8.7c-8.7,10.2-16.5,21.2-23.3,32.8c13.6-8.3,28.5-14.6,44-18.6\
										c3.5,17.8,7.1,35.6,10.6,53.4c6.8-13.6,13.6-27.3,20.4-40.9c2.8,10.4,4.6,21.1,5.3,31.9c13.9-10.1,22.4-27.3,22-44.5\
										c6.9,4,15.6,4.8,23.1,2.1c-6.8-9.2-13.7-18.3-20.5-27.5c6.9-3.4,13.4-7.8,19.3-12.8c-7.7-2.2-15.6-3.6-23.6-4\
										c-1-12.9-0.3-26,2-38.7c-0.9,4.9-32.4,24-29,25.3C1125.4,1597.9,1101.4,1568.6,1094,1561.4z')
										path.st1(d='M1172.6,1654.5c-10.6-7-19.8-16.2-26.6-27c2.5-0.7,5.1-0.7,7.6-0.3c-0.1-0.2-0.3-0.4-0.4-0.5\
										c6.5-3.2,12.5-7.2,18.1-11.8c-10.1-2.6-18.7-2.2-30.2-0.8c1.5-12.7,3.3-26.2,9-37.4c0.2-1.5,0.4-3.1,0.7-4.6\
										c-0.1,0.1-0.2,0.1-0.4,0.2c-3.7,5.4-26,19.5-28.4,23.3c0,0,0-0.1,0-0.1c-0.3,1.4-0.3,2.9,0,4.4c-3.9-1.2-8-2-12-2.4\
										c-3.4-12.7-8.8-24.8-15.9-35.9c-0.8,10.7-0.3,21.5,1.5,32c-0.3-0.1-0.7-0.2-1.1-0.3c0.7,2.7,1.5,5.4,2.5,8.1\
										c-2.2,0.9-4.3,2.2-6,3.9c-7-6.8-15.9-11.7-25.4-14.1c-0.6-0.1-1.1-0.3-1.7-0.4c-0.8,0.1-1.6,0.1-2.4,0.3\
										c6.8,4.8,12.6,10.9,17.2,17.9c2,1.4,3.9,2.9,5.7,4.5c-2.2,3.3-4.3,6.6-6.5,10c-0.6,0.9-1.3,1.9-2.2,2.5c-1.4,0.8-3.1,0.6-4.7,0.5\
										c-9.6-0.9-19.3,0.2-28.5,2.9c10.2,1.2,20.2,4.1,29.4,8.6c-8.7,10.2-16.5,21.2-23.3,32.8c13.6-8.3,28.5-14.6,44-18.6\
										c3.5,17.8,7.1,35.6,10.6,53.4c6.8-13.6,13.6-27.3,20.4-40.9c2.8,10.4,4.6,21.1,5.3,31.9c13.9-10.1,22.4-27.3,22-44.5\
										C1157.3,1655.8,1165.4,1656.6,1172.6,1654.5z')
									g
										path.st6(d='M1224.4,1899c-5-31.5-109.9-24.1-109.9-24.1s-2.9-69.9,5.2-127.2c4.6-32.5,15-66.3,25.3-95.2\
										c0.3-6.4,0.2-12.9-1.9-18.5c-6.9-18.1-32.9-28.6-50.2-17.9c-4.3,5.1-8.2,10.6-12.3,16.2c-9.6,29-17.9,64.7-22.1,105.1\
										c-8.3,81.2-3.5,129.7-3.4,134.8c0,0-11-3.9-63,1c-34.6,3.3-93.1,16.4-96.2,50.5c-3.1,34.1,36.1,13.2,58.3,0.9\
										c22.2-12.2,90.1-11.4,90.1-11.4s-56.5,31.4-70.3,70.8c-13.8,39.4,16.2,55.2,47,20.7c30.8-34.5,83.3-79.3,89.5-81.3\
										C1152.6,1910.2,1231.4,1943.6,1224.4,1899z')
										path.st7(d='M1124.7,1721.1c-21.5,3.1-42.8,2-63.5-5.6c-0.6,4.4-1.2,8.9-1.8,13.5c20.5,6.7,41.8,7.8,62.7,4.3\
										C1123,1729.2,1123.8,1725.1,1124.7,1721.1z')
										path.st7(d='M930.8,1887.6c-3.8,1.6-7.4,3.4-10.8,5.3c4.6,3.9,8.4,9,11.1,14.4c4.2,8.6,5.6,17.6,5.4,26.7\
										c3.5-1.7,7-3.4,10.3-5.2c0.8-6,1-12.1-1.1-18.3C943.4,1903.8,938.1,1893.5,930.8,1887.6z')
										path.st7(d='M1033.3,1913.4c4.4,0,8.2,0,10,0c1.9-14.7,1.6-28.8-4-42.6c-3-0.1-6.7,0-10.9,0.1\
										C1034.9,1883.3,1037.4,1899.9,1033.3,1913.4z')
										path.st7(d='M1053.7,1834.5c0,4.1,0.1,7.9,0.2,11.4c19.1,6.9,42.2,6.2,60.2-2.1c0-4.2,0-8.7,0.1-13.4\
										C1095.8,1837.8,1073.6,1839.3,1053.7,1834.5z')
										path.st7(d='M1116.8,1774.8c-17.5,6.1-41.5,8.5-61.7,5c-0.2,3.1-0.4,6.2-0.5,9.1c4.2,1.7,7.5,2.9,8.4,3.2\
										c17.8,5,36.7,2.9,52.8-5C1116.1,1782.9,1116.5,1778.8,1116.8,1774.8z')
										path.st7(d='M1189.9,1878c-5-0.9-10.2-1.7-15.6-2.2c-8.8,8.7-16.6,17.6-15.1,30.9c0.6,5.7,2.6,10.6,5.5,14.9\
										c4.3,0.3,8.5,0.7,12.6,1C1169.7,1906.6,1175.8,1889,1189.9,1878z')
										path.st7(d='M1118.3,1874.7c-7.2,13-13.7,26.3-6.2,41.1c1.1,2.2,2.5,4.3,3.9,6.4c3.3-0.7,6.8-1.2,10.3-1.5\
										c-2.2-4.4-3.8-9.1-4.2-14.6c-0.7-12.4,4.9-22.2,11.5-31.9C1127.1,1874.3,1121.7,1874.5,1118.3,1874.7z')
										path.st7(d='M1082.6,1652.2c-2.2-0.6-4.8-1.3-7.5-2.1c-1.2,4.3-2.4,8.8-3.6,13.3c19.8,9.2,46,13.1,65.8,11.8\
										c1.5-4.8,3.1-9.5,4.7-14.1C1122.5,1662.7,1100.5,1657.1,1082.6,1652.2z')
										path.st7(d='M1006.3,1941c-4.4,4-8.9,8.3-13,12.9c0,0,8.2,0.7,15.7,4.3c10.5,5,18.4,7.4,25.4,17.5c2,2.8,5.8,9.3,5.8,9.3\
										c4-4,8.1-7.9,12.2-11.8c-3-5.3-7.5-10.4-13.3-16.1C1031.3,1949.2,1009.4,1940.8,1006.3,1941z')
										path.st7(d='M1051.9,1908.8c-2.4,1.2-6.7,3.7-12.8,7.7c15.2,2.5,31.4,11.2,39.2,23.2c1.4,2.1,2.5,4.2,3.6,6.4\
										c2.6-2.2,5-4.3,7.3-6.3c-0.4-4.5-1.6-9.1-4.7-13.7C1077.3,1915.5,1064.4,1911.1,1051.9,1908.8z')
										path.st7(d='M972.9,1875.9c3.2,6.7,5.4,13.7,6.6,18.9c1.8,7.4,2.6,15.1,2.1,22.5c3.2-0.5,6.5-0.9,9.9-1.3\
										c2.9-13.5-0.3-30.4-8.6-41.6C979.7,1874.8,976.3,1875.3,972.9,1875.9z')
										path.st8(d='M1075.8,1873.8c0.6-51.5,4.2-103,10.8-154.1c4.7-36.7,11.4-73.8,26.4-107.6c-7-0.8-14.1,0.3-20.1,4\
										c-4.3,5.1-8.2,10.6-12.3,16.2c-9.6,29-17.9,64.7-22.1,105.1c-7.9,77.3-3.9,124.8-3.5,133.7\
										C1061.4,1872.2,1068.2,1873.1,1075.8,1873.8z')
										path.st8(d='M1224.4,1899c-0.1-0.5-0.3-0.9-0.4-1.4c-2.9,1.9-5.1,14.8-27.9,11c-37.5-6.2-80.9-9.1-99.6,1.6\
										c-24.7,14.1-51.9,37.2-69.7,58.7c-7.1,8.6-14.8,16.9-22.9,24.8c-4.6,4.5-9.5,8.9-15.7,11.1c-5.8,2.1-13,1.7-17.6-2.2\
										c0.3,24.9,25.1,30.6,50.4,2.2c30.8-34.5,83.3-79.3,89.5-81.3C1152.6,1910.2,1231.4,1943.6,1224.4,1899z')
										path.st8(d='M1044.3,1913.4c3.2-1.6,10.3-6.7,15.8-8.4c-28-13.4-73.5-6.9-110.5,4.9c-5.5,1.8-15.7,5.8-21.5,6.4\
										c-15.3,1.5-18-12.1-13.6-19.9v0c-10.4,7.1-17.5,16.1-18.6,27.5c-3.1,34.1,36.1,13.2,58.3,0.9\
										C975.6,1913,1039.7,1913.3,1044.3,1913.4z')
										path.st9(d='M1109.3,1791.9c3.8-52.4,16.3-104.1,35-153.5c-0.3-1.5-0.7-3-1.2-4.4c-0.4-1.1-0.9-2.2-1.5-3.3\
										c-18.9,32.8-28.4,70.7-36.4,106.8c-6.2,27.7-9.7,55.9-10.2,84.3c-0.2,13.6-0.3,27.6,1.5,41.2c1.2,9.4-0.6,8.1,7.6,10\
										c1.9,0.4,4.1,0.5,6.5,0.4C1109.2,1853.8,1108.8,1797.9,1109.3,1791.9z')
										path.st9(d='M991.2,1981.6c-3.8,4.8-7.5,11.7-3.6,16.4c7.8,1.5,15.6-10.1,22.4-16.2c25.9-31.5,43.6-49.2,73.3-69.6\
										c-19.4,3.9-31.8,10.6-56.6,30.2C1014.1,1954.8,1002.2,1967.8,991.2,1981.6z')
										path.st9(d='M1213,1889.9c-2.1-2.3-5.3-3.4-8.4-4.4c-23.1-7.3-47.8-10-72.1-8.1c-1.5,0.6-2.9,1.1-4.4,1.7\
										c18.6,1.2,38.1,5.7,54.2,11.2c8.8,3,17.4,6.5,26.1,9.8c1.9-0.2,3.7-0.6,5-1.9C1215.7,1896,1215.1,1892.2,1213,1889.9z')
								g
									g
										path.st5(d='M1518.8,1555.4c-1.4,11.2-4,22.1-7.7,32.5c10.7-1.7,21.6-0.5,31.5,3.4c-7.3,3.8-14,9-19.6,15.4\
										c10.6,7.7,20.6,16.3,29.8,25.6c-9.6-0.7-19.5,0.5-28.9,3.4c5.8,11.4,10.5,23.3,14.2,35.5c-10.4-10.1-22.4-18.6-35.3-25\
										c-6.5,16.5-12.9,32.9-19.2,49c-3.5-13.9-7.1-27.9-10.7-42.1c-4.4,9.5-7.8,19.4-10.2,29.5c-10.5-11.8-15.2-29.6-11.9-46.2\
										c-6.9,2.7-14.7,2-21-1.8c7.7-7.8,15.4-15.7,23.1-23.5c-5.7-4.6-10.8-10-15.3-16c7.4-0.9,14.8-0.9,22.2,0.1\
										c3.2-12.8,4.9-26.2,5.1-39.7c0,5.2,25.3,30.1,21.9,30.8C1483.1,1587.1,1510.7,1561.5,1518.8,1555.4z')
										path.st1(d='M1430.6,1635.2c10.7-5,20.5-12.6,28.5-22c-2.2-1.1-4.5-1.6-6.9-1.6c0.2-0.2,0.3-0.3,0.5-0.5\
										c-5.3-4.3-10.1-9.3-14.3-14.8c9.6-0.9,17.4,1,27.5,4.3c0.9-13,1.7-27-1.5-39.5c0.1-1.6,0.2-3.2,0.2-4.9c0.1,0.1,0.2,0.2,0.3,0.3\
										c2.4,6.2,20.2,24.4,21.7,28.7c0,0,0-0.1,0.1-0.1c0,1.5-0.2,3-0.8,4.4c3.8-0.6,7.6-0.7,11.4-0.3c5.5-12.3,12.9-23.7,21.5-33.9\
										c-1.4,11.1-4,22-7.7,32.4c0.3-0.1,0.7,0,1-0.1c-1.2,2.6-2.4,5.2-3.8,7.7c1.9,1.3,3.4,3,4.7,5c7.7-5.6,16.7-9,25.9-9.8\
										c0.5,0,1.1-0.1,1.6-0.1c0.7,0.2,1.4,0.4,2.1,0.7c-7.1,3.7-13.7,8.8-19.2,14.9c-2,1.1-4.1,2.2-6,3.5c1.3,3.7,2.6,7.3,3.9,10.9\
										c0.4,1,0.8,2.1,1.5,2.8c1.1,1,2.7,1.2,4.1,1.3c8.8,0.7,17.2,3.4,24.9,7.6c-9.4-0.5-18.9,0.6-28,3.4c5.8,11.4,10.5,23.3,14.2,35.5\
										c-10.4-10.1-22.4-18.6-35.3-25c-6.5,16.5-12.9,32.9-19.2,49c-3.5-13.9-7.1-27.9-10.7-42.1c-4.4,9.5-7.8,19.4-10.2,29.5\
										c-10.5-11.8-15.2-29.6-11.9-46.2C1444.2,1639,1436.8,1638.5,1430.6,1635.2z')
									g
										path.st6(d='M1713.9,1903.6c-4.1-35.9-62.9-48.1-97.6-50.6c-52.2-3.8-63,0.7-63,0.7c-0.1-5.4,3.3-56.6-7.4-142\
										c-4.8-38.6-13-73-22.3-101.8c-6-5.2-13.1-9.1-21.5-10.7c-23.2-4.3-34.5,6.5-36.3,28.3c-0.7,8.9,0.2,17.9,1.6,26.9\
										c7.3,22.5,13.9,46.4,17.7,69.8c9.8,60.2,8.9,133.8,8.9,133.8s-105.1-4.8-109.1,28.5c-5.7,47.1,72.1,9.8,114.4,22.7\
										c6.3,1.9,60.1,47.7,91.9,83.2c31.8,35.5,61.4,18,46.4-23.1c-15-41.1-72.3-72.7-72.3-72.7s67.9-2.7,90.4,9.5\
										C1678.2,1918.5,1718,1939.5,1713.9,1903.6z')
										path.st7(d='M1569.1,1851.8c-5.3,14.6-5.5,29.5-3.2,44.9c1.8,0,6.1-0.1,10.4-0.2c-4.5-14.2-2.5-31.7,3.7-44.9\
										C1575.8,1851.6,1572.1,1851.7,1569.1,1851.8z')
										path.st7(d='M1553.7,1825.9c0-3.6-0.1-7.7-0.1-12c-19.7,5.5-42,4.6-60.5-2.7c0.2,5,0.4,9.7,0.5,14.1\
										C1511.7,1833.6,1534.9,1833.7,1553.7,1825.9z')
										path.st7(d='M1543,1769.4c0.9-0.3,4.1-1.6,8.3-3.6c-0.2-3.1-0.5-6.3-0.8-9.6c-20.1,4.3-44.2,2.4-61.8-3.6\
										c0.5,4.3,1,8.6,1.4,12.9C1506.5,1773.5,1525.4,1775.2,1543,1769.4z')
										path.st7(d='M1479.2,1696.4c1,4.2,2,8.5,2.9,12.7c21.1,3.2,42.3,1.4,62.6-6.2c-0.7-4.8-1.4-9.5-2.2-14.2\
										C1522.1,1697.3,1500.8,1699.1,1479.2,1696.4z')
										path.st7(d='M1418.7,1863.6c14.4,11.2,21,29.5,13.9,46.5c4.1-0.4,8.3-0.9,12.6-1.4c2.8-4.6,4.6-9.8,5.1-15.8\
										c1.1-14.1-7-23.2-16-32.1C1428.9,1861.5,1423.7,1862.4,1418.7,1863.6z')
										path.st7(d='M1604.1,1924.7c-3.2-0.1-6.3-0.1-9.5,0.4c-11.1,1.8-20.9,7.8-27.4,16.9c-3.9,5.4-6.4,11.4-8.2,17.8\
										c4.5,4.3,9.1,8.7,13.4,13.1c0.1-0.1,0.2-0.2,0.3-0.3c1-3.3,2.2-6.5,3.8-9.7c5.1-10.1,14.4-20.8,25.9-23.4\
										c6.4-1.5,12.4,0.3,18.3,2.1C1615.6,1935.5,1609.9,1929.8,1604.1,1924.7z')
										path.st7(d='M1618.2,1898c3.4,0.3,6.7,0.7,9.9,1.1c-0.8-7.8-0.1-15.9,1.4-23.7c1.1-5.5,3-12.9,6.1-20\
										c-3.4-0.5-6.8-1-10-1.3C1617.5,1865.9,1614.8,1883.8,1618.2,1898z')
										path.st7(d='M1688.9,1871.7c-3.4-1.9-7.1-3.7-11-5.3c-7.1,6.4-12.1,17.4-14.1,24.6c-1.9,6.7-1.5,13-0.5,19.3\
										c3.3,1.7,6.9,3.5,10.4,5.2c-0.5-9.6,0.6-19.1,4.6-28.3C1680.8,1881.5,1684.4,1876,1688.9,1871.7z')
										path.st7(d='M1474.7,1858c6.9,10,12.8,20.2,12.5,33.3c-0.2,5.8-1.6,10.8-3.7,15.4c3.6,0.2,7.1,0.6,10.4,1.3\
										c1.4-2.2,2.7-4.5,3.7-6.8c7.1-15.8,0.2-29.6-7.4-43.1C1486.8,1858,1481.4,1857.9,1474.7,1858z')
										path.st7(d='M1556.8,1892.1c-12.4,2.7-24.4,7.9-31.3,19.3c-3,4.9-4,9.7-4.3,14.5c2.4,2,4.9,4.1,7.5,6.4\
										c1-2.3,2.1-4.7,3.4-6.9c7.4-12.8,22.8-22.7,38-25.8C1563.4,1895.3,1560.9,1894.4,1556.8,1892.1z')
										path.st7(d='M1526.8,1620.3c-2.7,0.9-5.3,1.7-7.5,2.4c-16.1,5.1-35.6,10.9-53.7,11.1c0,4.9,0.3,9.8,0.9,14.7\
										c19.8,0.6,45.1-4.2,64.3-14.3C1529.5,1629.4,1528.1,1624.8,1526.8,1620.3z')
										path.st8(d='M1505,1858.5c4.1-84.9-7.6-167.9-34.3-248.2c-2.6,4.6-4.3,10.3-4.9,17.3c-0.7,8.9,0.2,17.9,1.6,26.9\
										c7.3,22.5,13.9,46.4,17.7,69.8c9.8,60.1,8.9,133.6,8.9,133.8C1497.6,1858.3,1501.3,1858.5,1505,1858.5z')
										path.st8(d='M1632.8,1994.1c-7.7,1.7-14.8-4.1-20.3-9.7c-17.1-17.3-31.9-36.7-49.3-53.7c-17.4-17-37.9-31.8-61.7-37\
										c-27.7-6.1-56.4,1.5-84.7,1.1c-9.3-0.1-21.5-4.4-20.5-13.7c0.3-2.9,2-5.5,3.9-7.7c2.3-2.7,5-4.9,7.8-6.9\
										c-12.7,4.3-22,10.7-23.2,20.1c-5.7,47.1,72.1,9.8,114.4,22.7c6.3,1.9,60.1,47.7,91.9,83.2c26.7,29.7,51.7,22.3,50.3-5.1\
										C1639.5,1990.7,1636.5,1993.3,1632.8,1994.1z')
										path.st8(d='M1714,1904.5c-3.5,2.7-7.7,5-11.9,5c-15,0.2-31.6-14.3-48-21.3c-13.4-5.7-70.7-19.9-104.9-0.6\
										c4.7,2.7,8.8,4.8,16.2,9.1c7.4-0.3,69.1-2,90.2,9.5C1678,1918.4,1717.3,1939.1,1714,1904.5z')
										path.st8(d='M1490.9,1861.1c0.7,0,1.4,0.1,2.1,0.1C1492.5,1861.1,1491.8,1861.1,1490.9,1861.1z')
										path.st9(d='M1548.5,1855c0.5-10.2-0.7-27.6-0.7-37.8c0.1-20.7-0.7-41.4-2.4-62c-3.3-40.2-9.9-80.1-19.9-119.2\
										c-2.6-10.2-5.3-20.5-8.3-30.8c-3.7-2.3-7.8-3.9-12.2-5.1c4.3,16,8.7,33.6,12.4,52.5c14.2,72.2,15.5,135.6,16.6,209.2\
										C1537.9,1861.8,1548.5,1855,1548.5,1855z')
										path.st9(d='M1706.3,1895.7c-2.2-12.4-14.7-20-26.2-25c-21.7-9.3-45-14.8-68.5-16.5c-11.8-0.8-23.6-0.7-35.3,0.4\
										c-5.5,0.5-11.5,0.8-16.8,2.2c-3.6,1-8.6,5.3-12.2,5.3c18-2.6,36.3-2.5,54.4-0.9c28.5,2.5,57.7,9.2,80.5,26.5\
										c5.8,4.4,11.1,9.4,17.5,12.7c1.7,0.9,3.9,1.6,5.4,0.5C1706.5,1899.9,1706.6,1897.6,1706.3,1895.7z')
										path.st9(d='M1614.4,1941c-12.8-16.4-28.6-30.5-46.4-41.4c-11.7-7.2-29-17.5-43.1-18.1c13.4,10.3,28,18.7,41.1,29.7\
										c17.5,14.8,35.6,30.3,46,50.7c3.8,7.4,6.9,16,14.1,20.3c1.9,1.1,4.2,1.9,6.2,1c4-1.8,2.9-7.7,1-11.6\
										C1628.2,1960.8,1621.8,1950.5,1614.4,1941z')
								g
									path.st10(d='M1304.4,970.8c-6.1-23.2-32-35.8-55.8-43c-87.5-26.3-196.7-26.5-261,45\
									C1094.5,954.2,1197.3,947.4,1304.4,970.8z')
									path.st11(d='M1280.5,952.5c2.1-15.5,29.8-127.6,10.8-296.8c-19-169.1-83.4-242.7-101.7-250.9\
									c-18.3-8.2-55.7-14-111.3,21.1c-55.5,35-74.4,65.9-83.7,91.6c-9.3,25.7-27.1,112.4-15.1,245.1c9.2,104,51.4,182.2,60.5,184.4\
									C1165.9,925.8,1280.5,952.5,1280.5,952.5z')
									path.st12(d='M1182.4,916.9c-63.6-6.4-118.8-16.5-140.2-81.2c-14.8-44.8-15.3-97.8-14.6-144.7\
									c1.2-74.3,11.1-205.2,104.5-228.8c49.5-12.5,93.6,12.3,126.7,50.7c-25.8-69.6-57.4-102.8-69.4-108.2c-18.3-8.2-55.7-14-111.3,21.1\
									c-55.5,35-74.4,65.9-83.7,91.6c-9.3,25.7-27.1,112.4-15.1,245.1c9.2,104,51.4,182.2,60.5,184.4c125.9-21.1,240.5,5.6,240.5,5.6\
									c0.4-3.4,5.7-33.3,7.8-45.3C1270.7,921.1,1212.2,919.9,1182.4,916.9z')
									g
										path.st13(d='M1237.8,759.5c33.8-150.2-91-255.5-160.7-145.4C1000.6,765.2,1169.7,944.8,1237.8,759.5z')
										path.st14(d='M1149.6,743.6c-3.2-3.6-1.2-8,2-9.8c-0.9-1.5-1.9-3-2.7-4.5c-3.9-7.1,7.5-13.1,11.4-6\
										c13.7,24.6,38.7,46.9,66.3,61.5c3.9-7.6,7.7-16,11.2-25.4c26.5-117.8-44.5-207.9-110-188.2c-26.2,84.2-3.2,224.4,64.3,255.8\
										c7.6-5.2,14.8-12.4,21.7-21.6C1188.8,789.4,1169.9,766.4,1149.6,743.6z')
										path(d='M1214.9,680.6c24.9,135.8-103.7,186-131.2,44.9C1057.5,591,1189.7,543.1,1214.9,680.6z')
										path.st15(d='M1154.7,663.8c1.7,13.7,9.1,27.3,19.5,31.9c10,4.5,20.8,0.2,29-7c19.7-17.2,32.5-71.3,0.4-87\
										C1176.3,588.2,1150.8,632.7,1154.7,663.8z')
									g
										path.st16(d='M1066,453.2c-40.3,26-64.6,55.7-77,99.3c-1.9,6.6-2.4,27.2-9.7,25.8c-15.8-0.2-12.7-45-5.6-66.1\
										c15.8-46.7,45.6-90.3,88.9-118.9c43.3-28.6,100.8-40.9,152.2-27c4.7,1.3,9.7,3,12.6,6.7c2.8,3.7,2.1,9.9-2.5,11.5\
										c-2.1,0.7-4.4,0.4-6.6,0c-8.2-1.4-16.3-2.8-24.5-4.1c17.6,2.1,42.2,15.9,40.8,35c-1.7,24.2-30,13.2-45.8,10.8\
										C1146.1,419.8,1101.1,430.6,1066,453.2z')
										path.st17(d='M1232.1,421.9c-8,0.2-15.6-2.7-23.2-5c-62.7-19.7-135.7-5.8-185.6,35.4c35.5-36.6,84.1-61.4,135.7-69.2\
										c14.7-2.2,30.1-3,44.6-0.5c-1.9-0.6-3.9-1.1-5.8-1.5c6.8,1.1,13.6,2.3,20.4,3.4c2.2,0.4,4.5,0.7,6.6,0c3.5-1.2,4.7-5.1,3.9-8.5\
										c-2.2,2.1-6.9,2-10.4,1.2c-54.5-12.4-114.4-1-159.6,30.5c18.6-16.2,39.7-29.7,62.2-40.4c-20.9,5.6-40.8,14.4-58.4,26\
										c-43.3,28.6-73.2,72.2-88.9,118.9c-7.1,21.1-10.3,65.8,5.6,66.1c7.3,1.4,7.8-19.3,9.7-25.8c12.5-43.6,36.7-73.4,77-99.3\
										c35.1-22.6,80.1-33.5,122.8-27.1c14.2,2.1,38.3,11.1,44.4-4.4C1232.8,421.8,1232.5,421.9,1232.1,421.9z')
									path.st18(d='M1131.7,488.7c-14.6,6.4-20.8,26.7-13.3,40.2c6.9,12.6,23.3,16.6,37,21.9c45.5,17.7,75.4,61.8,84.9,107.8\
									c9.5,46,1.4,93.6-11.4,138.9c-3.5,12.6-5.7,29.4,6.3,35.6c14.4,7.5,31-9.1,34.4-24.4c23-105.8-1.7-207.8-12.7-243.6\
									C1242,517.1,1182.6,466.5,1131.7,488.7z')
								g
									path.st10(d='M1453.5,987.6c5.2-23.3,29-36.3,50.9-43.9c80.5-27.7,181.5-29.7,242.2,40.7\
									C1647.5,967.5,1552.2,962.4,1453.5,987.6z')
									path.st11(d='M1475.3,968.9c-2.2-15.5-29.7-127.1-15-296.5c14.8-169.4,73.1-244.1,89.9-252.6\
									c16.8-8.5,51.4-14.9,103.3,19.2c52,34.1,70,64.7,79,90.2c9,25.6,27,112,18.1,244.8c-6.8,104.2-44.5,183-52.9,185.3\
									C1580.9,940.3,1475.3,968.9,1475.3,968.9z')
									path.st12(d='M1538.4,916.4c-75.9-43.2-62.9-216.8-46.3-288.3c16.3-70,48-163.4,133.8-146.8\
									c56.8,10.9,96.9,64.7,121.9,125.1c-4.5-38.6-10.9-65-15.2-77.3c-9-25.6-27-56.1-79-90.2c-52-34.1-86.5-27.7-103.3-19.2\
									c-16.8,8.5-75.1,83.2-89.9,252.6c-14.8,169.4,12.8,281.1,15,296.5c0,0,105.6-28.6,222.5-9.6c4.9-1.4,20-29.3,33-73.3\
									C1682.4,921.8,1591.8,946.8,1538.4,916.4z')
									g
										path.st13(d='M1672.3,779.9c44.5-143.2-58-257.3-131.3-156.4C1457.9,763.6,1593.5,954.2,1672.3,779.9z')
										path.st14(d='M1604.8,764.2c0.1-0.3,0.4-0.5,0.6-0.8c1.4-3.9,7.8-5.2,10.9-1.5c1.4,1.6,2.8,3.2,4.2,4.8\
										c0.3,0.4,0.4,0.7,0.6,1.1c13.2,10.9,25.7,22.6,39.2,32.9c0.3,0.2,0.6,0.4,1,0.6c3.8-6.4,7.4-13.5,11-21.3\
										c34.9-112.3-20.6-206.6-81.5-193.5c-31.5,79.6-24,218.2,34,255.1c7.6-4.5,15.1-11.2,22.5-20.1\
										C1624.9,811.3,1595.5,787,1604.8,764.2z')
										path(d='M1660.3,700.7c9.9,137.5-113.3,175.3-125.1,32.3C1523.9,596.7,1650.3,561.5,1660.3,700.7z')
										path.st15(d='M1606.5,678.2c0.3,13.8,5.8,28,14.9,33.6c8.8,5.4,19.1,2.2,27.4-4.2c19.8-15.3,36.7-67.9,8.7-86.5\
										C1633.6,605.1,1605.9,647,1606.5,678.2z')
									g
										path.st16(d='M1665.4,466.2c37.7,25.3,60.7,54.6,73,98.1c1.8,6.5,2.7,27.2,9.4,25.7c14.7-0.5,11-45.2,4.1-66.2\
										c-15.4-46.4-43.7-89.6-84.3-117.5c-40.6-27.9-93.9-39.2-141.2-24.5c-4.4,1.4-8.9,3.1-11.5,6.9c-2.6,3.7-1.8,9.9,2.5,11.4\
										c1.9,0.7,4.1,0.3,6.1-0.1c7.5-1.5,15-3,22.6-4.5c-16.3,2.4-38.7,16.6-37.2,35.7c2,24.2,28,12.7,42.6,10.1\
										C1590.8,434,1632.6,444.1,1665.4,466.2z')
										path.st17(d='M1511.2,437.6c7.4,0.1,14.4-2.9,21.4-5.4c57.7-20.7,125.4-8,172.4,32.3c-33.5-36-78.9-60-126.8-67\
										c-13.6-2-27.9-2.5-41.3,0.3c1.8-0.7,3.6-1.2,5.3-1.6c-6.3,1.3-12.5,2.5-18.8,3.8c-2,0.4-4.2,0.8-6.1,0.1c-3.3-1.1-4.5-5-3.8-8.4\
										c2,2.1,6.4,1.9,9.6,1c50.2-13.3,105.8-2.9,148.2,27.9c-17.5-15.9-37.2-29-58.3-39.3c19.4,5.2,38,13.7,54.4,25.1\
										c40.6,27.9,68.9,71,84.3,117.5c6.9,20.9,10.6,65.6-4.1,66.2c-6.7,1.5-7.5-19.1-9.4-25.7c-12.3-43.4-35.2-72.7-73-98.1\
										c-32.9-22.1-74.7-32.1-114.1-25c-13.1,2.4-35.2,11.7-41.2-3.7C1510.5,437.5,1510.8,437.6,1511.2,437.6z')
									path.st18(d='M1635.3,508.5c-19.5,3.2-36.1,25.1-29.3,44.2c5.2,14.6,20.5,22,32.3,31.8c33,27.4,44.2,53.9,48.2,97.3\
									c3.8,41.7,2.4,108.1-17,144.9c-3.5,6.7-7.8,13.1-9.5,20.6c-1.7,7.4,0.1,16.4,6.3,20.4c4.3,2.8,9.9,2.6,14.7,1.2\
									c18.8-5.5,28.6-26.5,34.6-45.8c19.2-61.8,23.7-132.1,14.8-196.4C1724.2,581.7,1690.3,499.5,1635.3,508.5z')
								g
									path.st19(d='M1195.8,133.3c10.5,22.3,18.8,46.2,24.8,71.3c-16.7-35.9-31.8-63.7-31.8-63.7s-50.7-15.1-155.8,76.4\
									c-41.7,36.3-71.4,72.5-92.4,105.9c3.4,6.6,6.8,13.3,10.2,19.9c-6.1-1.9-11.5-5.5-16.2-10.2c-1.3,2.1-2.6,4.3-3.8,6.4\
									c2.4,6.3,5.6,12.1,9.7,16.9c-5.1-2.2-9.9-5-14.4-8.3c-41.5,77.8-36.9,135.4-36.9,135.4s65.1-114.1,210.1-178.1\
									c90.7-40.1,157.3-9.8,157.3-9.8C1255.6,292.5,1244.6,180.7,1195.8,133.3z')
									path.st9(d='M1192.1,218.6c-8.8-25.6-19.6-51.5-39.4-65.5c0,0,15.6-0.9,24.6,4.6c23.7,14.5,39.9,61.9,45,76\
									c-5.9-32.7-22.4-63.6-39.4-88.9c-29.6-1-57.4,12.3-85.3,29.7c-58,36.2-111.4,86-153.9,146.6c41.9-45.1,84.8-90.9,134.8-119.7\
									c21.2-12.2,48.8,15.9,58.9,27c-9-17.9-19.3-31.5-37.5-39.3c19.4,2.3,34.1,13.9,47.4,29.5c4.2,4.9,12.7,14.6,12.7,14.6\
									c-1.6-8.2-5.6-15.1-10-21.3c-8.4-12-18.3-22.3-29.5-30.5c22.5,7.2,39.7,27.4,50.6,51.4c-8.2-28.6-21.6-48.7-41.4-66.6\
									C1150.1,162.1,1182,191.4,1192.1,218.6z')
									path.st20(d='M1157.1,280.4c34.4-4.4,78.6,0.5,94.3,7.9c-5-49.6-18.9-96.5-40.6-136.9c-1.4-2-2.8-4-4.3-5.9\
									c15.7,33.2,23.8,72.2,23,112.5c-15-38.9-33.9-84.3-67.4-100.3c23.1,18.6,33.5,52.4,40.3,85.6c-17-33.4-32.4-55.8-63.1-70.7\
									c22.1,20.1,32.3,38.5,45.2,70.7c-23.2-4.2-47.7,6.6-47.7,6.6c-18-27.5-33.9-28-36.3-27.4c-38.6,10.1-100.4,53.1-110.4,65.5\
									c0.3,19.3,5.6,25,15,35.6c-14.3-6.4-20.8-11.4-26.4-27.7c-1.3,19.2-0.8,27.4,11.1,42.2c-12.5-6.2-18.4-9.3-26.2-28.3\
									c-2.4,17.4,3.7,30.3,14.3,40.6c-14.5-3.1-19.5-11.7-26.1-22c2.7,20,7.4,25.6,15,32.9c-10.4-3.4-17.6-8.6-25.9-16.1\
									c2.1,11.5,9.9,19.2,19.4,26.5c-11.6-2-19.1-4.6-28.6-11.8c3.8,12.3,5,18.8,15.6,24.5c-11.7,0.5-15.5-1.7-22.8-6.3\
									c1.9,11.3,7,17.1,7,17.1c-21.2,22.5-36.4,52.9-42.4,84.6c0,2.3,0.1,3.6,0.1,3.6s6.5-11.3,19.8-28.8\
									c36.9-56.2,82.2-96.5,134.4-129.7C1077.9,302.9,1125.7,284.4,1157.1,280.4z')
								g
									path.st19(d='M1541.1,182.2c-12.6,21-23.2,43.4-31.5,66.6c20.4-33.7,37.9-60.1,37.9-60.1c0.7-0.4,50.5-15.9,152.8,53.7\
									c41.1,27.4,71.2,55.3,93.2,82c-3.4,6.7-6.9,13.4-10.3,20.1c6.3-2.8,11.9-7.1,16.6-12.3c1.3,1.7,2.7,3.5,4,5.2\
									c-2.4,6.2-5.6,12.1-9.8,17.3c5.3-2.9,10.1-6.4,14.8-10.3c44.5,63.1,43.3,116.3,43.1,116.5c-0.4-0.9-74.6-87.6-222.6-129.6\
									c-92.6-26.8-165,2.1-165.4,2.3C1464.7,330.5,1487.7,228.5,1541.1,182.2z')
									path.st9(d='M1537.7,259.9c11.1-24,24.2-48.5,45.1-62.9c0,0-15.6,0.5-25.1,6.2c-25.1,15-45.9,59.2-52.5,72.3\
									c9-30.2,28.7-59.4,47.9-83.7c29.9-3,56.7,6.6,83.8,19.4c56.4,26.7,109,64.1,153.3,111.8c-43.6-33.7-86.1-69-135.3-89.4\
									c-20.7-8.6-50.3,19.9-61.4,31c10.3-17.2,21.7-30.7,40.4-39.8c-19.8,4.2-35.3,16.2-49.9,31.6c-4.6,4.9-14.1,14.5-14.1,14.5\
									c2.2-7.6,6.8-14.3,11.7-20.4c9.3-11.7,20.1-22,31.9-30.7c-23.2,8.8-42.1,28.7-55.1,51.5c10.4-26.8,25.7-46.2,46.7-64.5\
									C1584.9,205.2,1550.4,234.4,1537.7,259.9z')
									path.st20(d='M1569.8,313.9c-35.7-1.1-82.6,5.5-100,12.8c9.7-45.6,28.9-88.9,54.5-127c1.6-1.9,3.2-3.8,4.9-5.7\
									c-18.9,31.2-31,67.2-33.6,104c19.1-36.3,42.5-78.8,77.4-96c-24.7,18.8-38.3,50.3-47.9,81.1c20.3-31.7,37.8-53.1,69.9-69.5\
									c-23.6,20.3-35.5,37.9-51.3,68.3c24.4-5.4,49,2.2,49,2.2c20.2-26.8,36.3-29,38.7-28.7c38.6,5.4,100.6,35.6,111,45.2\
									c-0.5,17.8-6,23.8-15.7,34.9c14.9-8.1,21.6-13.8,27.4-29.6c1.3,17.4,0.8,24.9-11.5,40.5c13-7.7,19.1-11.6,27.1-30.3\
									c2.5,15.6-3.7,28.4-14.7,39.6c15.1-5.3,20.2-14.1,26.9-24.6c-2.6,18.8-7.4,24.7-15.3,32.8c10.8-4.9,18.2-10.9,26.8-19.4\
									c-2,10.9-10.1,19.4-19.9,27.8c12.2-3.9,19.9-7.6,29.7-16c-3.7,11.9-4.8,18.2-15.9,25.3c12.2-1.7,16.2-4.5,23.7-10\
									c-1.7,10.7-6.9,16.9-6.9,16.9c22.7,16.6,39.8,41.2,47.7,68.9c0.1,2.1,0,3.3,0,3.3c0,0-7.5-9-22.3-22.2\
									c-41.2-44-88.7-72.9-142.6-96.2C1651.2,327,1602.4,315.1,1569.8,313.9z')
								g
									g
										g
											path.st1(d='M1143.6,1044.3c-7.6-2.6-12.1-13.9-11.7-23.7c0.4-9.9,4.2-23.3,8.1-31.8c-16.6,8.7-32.7,29.3-40.7,49.9\
											c-9.2,23.4-11.4,45.7,1.2,73.1c0.7-23,12.1-60.7,16.6-65.4c7,9.3,42.8,120.4,52.5,156.2c21.4,78.8,27.8,121.2,58,157.3\
											c36.2,43.2,289.2,32.6,317.7,21.3c-34.8-36.5-147.6-100.2-136.8-174.7c1.4-9.4-8.4-16.6-14.5-23.3c-3.9-4.4-8.6-8-13.2-11.5\
											c-62.2-47.6-126.6-85.2-190.3-111.9')
											path.st6(d='M1124.1,1037.8c19.4,51.8,35.2,105.3,50.7,157.1c14.1,47.3,33.9,104.1,63,142.8c7.5,10,15.8,13,29.1,16.6\
											c27.9,7.7,50.8,8,79.7,11.1c41.5,4.5,84.1,8.4,126.5,7.3c27.3-0.7,66.1-4.1,94.5-14.6c-30.4-8.6-84-43.9-95.1-61.9\
											c-23.8-39-32-86.9-44.4-132.6c-3.8-14-5.5-41.7-13.5-53.9c-4.4-6.7-3.9-5.7-14.3-8.1c-73.4-16.5-236.2-49.3-246.2-52.8\
											C1144.1,1045.2,1125.9,1038.6,1124.1,1037.8z')
											path.st8(d='M1441.5,1363.2c-74.5-3.1-111.1-6.1-158.8-16.4c-33.8-7.3-42.3-17-58.5-49.6c-14.6-29.4-45.7-104-31-119.5\
											c-2.8-7.7,7.9-8.6,11.8-0.8c12.9,26.2,14.9,57.1,27.2,83.8c17.1,36.9,35.1,54.8,71.9,68.1c4.5,1.6,66.5,13.2,91.4,14.8\
											c42.8,2.7,68.2,10.8,111.9,8.4c4.3-0.2,24.7,1.4,29.3,1.1c-22.4-10.5-50.4-22.3-68-41.3c-24.9-27-34.2-71.9-33.4-110.1\
											c0-1.8,0.7-3.1,1.5-4.2c-2.8-11.4-5.6-22.8-8.7-34c-3.8-14-5.5-41.7-13.5-53.9c-4.4-6.7-3.9-5.7-14.3-8.1\
											c-73.4-16.5-236.2-49.3-246.2-52.8c-10.1-3.5-28.3-10.1-30.1-10.9c19.4,51.8,35.2,105.3,50.7,157.1\
											c14.1,47.3,33.9,104.1,63,142.8c7.5,10,15.8,13,29.1,16.6c27.9,7.7,50.8,8,79.7,11.1c41.5,4.5,84.1,8.4,126.5,7.3\
											c23.3-0.6,54.9-3.2,81.4-10.5C1524.5,1367.3,1468.6,1364.3,1441.5,1363.2z')
											path.st1(d='M1219.6,1142.4c10.3,4.1,20.4,8.7,28.3,11c29.6,8.5,59.5,16.1,88.6,26.7c9.4,3.4,27.1,15.4,37.8,16\
											c10.9,0.6,16.2-6.4,26.2-11.2c10.4-5,20.6-7.5,31.1-8c-1.1-4.5-2.2-9-3.4-13.4c-3.8-14-5.5-41.7-13.5-53.9\
											c-4.4-6.7-3.9-5.7-14.3-8.1c-73.4-16.5-236.2-49.3-246.2-52.8c-10.1-3.5-28.3-10.1-30.1-10.9c6.2,16.5,11.9,33.2,17.4,50\
											c24.7,1.9,54.2,28.5,75.5,51.9C1217.9,1140.6,1218.7,1141.5,1219.6,1142.4z')
											path.st21(d='M1497.2,1323.9c15.5,10,30.9,20,46.4,29.9c-39.3,2.6-78.4,0.4-117.2-1.7c26.3,4.2,53.2,5.5,80.1,5.6\
											c6.8,0,13.5,0,20.3-0.1c5.8-0.1,14.7-0.5,20.4-0.3c7.5,0.2,13.8,0.2,9.9-2.3c-3.4-2.1-18.9-8.1-23.4-10.3\
											C1521.2,1338.5,1509,1331.5,1497.2,1323.9z')
											path.st9(d='M1481,1308.2c23.9,20.8,51.3,37.3,80.9,48.7c-85.6,7.7-164.8-2.8-248.2-13.1c87.6,5.6,177.8,11.9,227.7,9.8\
											c-20.9-9.3-40.3-21.7-57.5-36.8c-13.8-12.1-27-27.3-28.4-46.3C1456,1278.3,1474.4,1302.4,1481,1308.2z')
										path.st22(d='M1408.5,1101.3c0,0,8.2,91.9,27.4,171.8c15.2,63.2,89.8,78.8,89.8,78.8s-164.8,0-243.1-16.6\
										c-41-8.7-58.1-62.5-70.5-98.3c-14.7-42.4-27.7-90.7-35.6-119.8c-7.6-28-19.9-54.3-19.9-54.3S1351.1,1064,1408.5,1101.3z')
										path.st23(d='M1287.2,1160.5c9.3,2.1,23.1-0.6,26.5-7.9c1.9-4.1,0-8.2-1.2-12.1c-1.1-3.9-2.3-16.4,18.6-18.3\
										c37.3-3.4,47.3,3.7,61.8,20.6c8.1,9.4,5.4,34.1,3.7,46.7c-6.4,46-78.5,51.3-100.3,47.8c-13.2-2.1-37.2-2.1-67-20.8\
										c-18.1-11.3-22.1-25.5-22.9-43.5c-0.4-9.1,3.8-28.7,10.5-37c15.7-19.7,42.3-19.7,58.7-11.7\
										C1301.1,1136.7,1263.3,1155,1287.2,1160.5z')
										path.st17(d='M1435.9,1273.1c-19.2-79.9-27.4-171.8-27.4-171.8c-57.4-37.2-252-38.4-252-38.4s12.3,26.3,19.9,54.3\
										c7.9,29.1,20.9,77.4,35.6,119.8c12.4,35.9,29.5,89.7,70.5,98.3c78.4,16.5,243.1,16.6,243.1,16.6S1451.1,1336.3,1435.9,1273.1z\
										M1395.5,1338.6c0,0.1-0.1,0.2-0.1,0.3c0-0.1-0.1-0.2-0.2-0.3c-37.1-2.2-73.5-8.1-107.5-21.9c-8.6-3.5-17.2-7.6-24.5-13.6\
										c-19.5-16.1-27-43.5-33.4-69.4c26.7,23.1,59.4,36.2,89.9,52.4c22.9,12.1,44.8,23.3,65.3,38.8c4,3,7.8,8.1,10.2,8.1\
										c0.1,0,0.2,0,0.2,0c13.7-35,16-82.2,5.3-124.2c3.6-7.2,7.2-13,10.8-20.2c3.5,15.9,6.7,32.3,9.7,48c4.1,21.2,6.8,42.9,14.6,62.3\
										c3.8,9.6,9.6,18.3,16.8,25.2c5.2,4.9,16.2,14.9,24.1,14.7C1449.6,1339.7,1422.3,1340.1,1395.5,1338.6z')
										g
											path.st24(d='M1394.8,1255.6c-4.7-18.8-15.2-35.7-30-49.1c-9.5-0.5-18.3,2.7-26.7,10.9c-1,1-2.4,1.4-3.6,0.6\
											c-19-11.8-41.9-9.4-61.2,2c-3.2,1.9-15.8,9.4-22.2,16.2c61.9,37.3,100.1,73.4,135.8,105.2\
											C1391.9,1315.3,1402,1284.5,1394.8,1255.6z')
											path.st25(d='M1400.8,1246.8c-2.1-8.9-5.4-17.3-9.8-25.3c-1.3-1.6-2.6-3.2-4.1-4.8c-3.9-3.3-8.2-6.2-12.8-8.6\
											c-13.1-3.9-24.9-1.7-36.1,9.2c-1,1-2.4,1.4-3.6,0.6c-19-11.8-41.9-9.4-61.2,2c-2.7,1.6-12,7.2-18.8,13\
											c61.8,36.5,107.9,70.5,141.2,101.8C1401.3,1308,1407.7,1276.7,1400.8,1246.8z')
											path.st1(d='M1374.9,1310.6c-7.1-6.9-14.6-14.2-23.1-21.1c-18.5-14.9-41.6-27.8-61.8-48.7c-1.6-1.7-2.5-3.8-3.2-6.1\
											c-3.4-12.1,35.2-9,46.4-5.4c14.2,4.6,24.5,15.4,33.5,25.8c5.5,6.3,5.7,6.2,10.7,12.5c-3.5-14.2-8.1-20.2-17.7-32.5\
											c-1.8-2.4-3.9-5.4-2.7-8.9c1.3-3.9,5.5-5.6,8.9-6.1c12.8-1.7,24,4.1,30.8,13.4c-1.7-4.4-3.8-8.5-6.2-12.5\
											c-1.2-1.5-2.4-3-3.7-4.4c-3.9-3.2-8.1-6.1-12.7-8.5c-13.1-3.9-24.9-1.7-36.1,9.2c-1,1-2.4,1.4-3.6,0.6c-19-11.8-41.9-9.4-61.2,2\
											c-2.7,1.6-12,7.2-18.8,13c61.8,36.5,107.9,70.5,141.2,101.8c0.2-1.1,0.5-2.2,0.7-3.4C1389.6,1324.8,1382.4,1317.8,1374.9,1310.6\
											z')
											path.st26(d='M1326.6,1238.5c-4.6,0.7-9.4,3.2-9.3,8.9c0.1,6,5.7,8.6,9.7,10.8c9.1,5,17.5,10.4,25.3,16.1\
											c14.6,10.9,26.6,22.9,35.8,35.7c3.7-20.3,7.9-43.8,2-65.3c-1.3-4.6-2.9-12-7.3-14.1c-6-2.8-9.2,4-7.7,9.5\
											c3.6,13.2,5.6,25.7,4.7,39.1c0.2-5.6-11.1-21.2-17.8-27.5C1352.2,1242.7,1341.9,1236.3,1326.6,1238.5z')
											path.st21(d='M1356.8,1250.5c0.2-3.3-8-6.4-10.2-7.4c-4.5-2-13.5-5-14.8-2.9c-3.5,2.9,15.7,9.1,17.9,10\
											c-3.1-0.8-9.4-2.2-9.7,0c-0.2,2.4,5.1,4.2,6.7,5.1c3.6,1.9,7.2,3.5,10.9,4.9c-1-0.2-2.2-0.3-2.9,1c-1.1,2.1,6.3,5.2,8.8,5.9\
											c1.6,0.4,3.7,0.9,3.4-1.7c-0.3-2.2-4-4.2-5.8-4.9c2,1,3.5,0.5,3.6-0.9c0.2-1.4-1.5-2.6-2.2-3.3c-2-2-7.1-4.3-9.9-5.3\
											C1353.5,1251.6,1356.8,1251.7,1356.8,1250.5z')
											path.st21(d='M1384,1244.2c-1.7-3.4-4.8-5.9-8.5-6.9c-0.5-0.1-1.1-0.2-1.6,0.2c-0.5,0.4-0.7,1.1-0.6,1.7\
											c0.1,0.6,0.4,1,0.7,1.4c1.4,1.8,2.8,3.4,4.4,4.9c-0.4-0.5-0.9-1.1-1.6-1.2c-0.7-0.2-1.6,0.2-2,1c-0.4,0.8-0.1,1.5,0.3,2.1\
											c2,3.7,4.6,6.8,7.7,9.2c0.6,0.5,1.7,0.8,2.2-0.1c0.3-0.5,0.2-1,0.1-1.5c-0.8-3.4-2.7-5.7-5-8\
											C1381.9,1247.5,1385.7,1247.6,1384,1244.2z')
									g
										path.st27(d='M1105.3,1008.7c-22,32.2-15.7,60.9-11.5,79.7c0,0,2.2-45.8,12.4-55.9c27,28.4,57,28.1,71.4,35.3\
										c-12.3-6.2-56.3-28.2-63.5-48c8-22.3,28.3-31.1,28.3-31.1S1117,991.6,1105.3,1008.7z')
										g
											path.st28(d='M1469.6,926.2c-3.8-4.6-34.7-32.9-52.2-30.5c-5.3,0.7-19.7,14-23.5,18c-69.9,73.4-120.3,112.5-211.7,115.2\
											c-34.4,0.6-48.8,3.1-53.9,8.3c1.2,1.1,2.4,2.3,3.6,3.6c7.8,0.7,16,5.2,22.7,12.4c42,10.7,87.5,19.1,133.6,12\
											c40.8-6.3,80.8-24.6,118.9-49.6c23.2-15.2,62.1-26.2,76.2-54.2C1487.5,952.9,1481.6,941.2,1469.6,926.2z')
											path.st1(d='M1474.8,933.1c-17.8-8.3-33.4-23.9-50.7-19.6c-8.8,2.5-64.7,62.1-82.7,72.8\
											c-38.3,23.9-78.9,39.1-118.6,46.3c-17,3.1-33.3,4-48.7-3.6c-28.6,0.8-41.2,3.3-45.8,8.1c1.2,1.1,2.4,2.3,3.6,3.6\
											c7.8,0.7,16,5.2,22.7,12.4c42,10.7,87.5,19.1,133.6,12c40.8-6.3,80.8-24.6,118.9-49.6c23.2-15.2,62.1-26.2,76.2-54.2\
											C1486.8,954.2,1483.1,944.9,1474.8,933.1z')
										g
											path.st6(d='M1295.9,1138.2c71.5,13.1,143.8,22.1,216.2,15.6c37.3-3.3,73.7-10.9,108.7-25.2c19.7-8,48.4-20.1,65.2-39.8\
											c1.9-3.4,3.8-6.9,5.5-10.6c-3-4.5-7.7-6.9-12.9-6.6c-16.8,0.8-59.4-9.5-102.1-27.3c-42.8-18-77.9-36.4-144.6-107.2\
											c0.2,0.1-61.3,62.3-117.2,81.1c-45.8,15.4-151.2,26.2-188.8,16.2c-0.2,0.2-0.4,0.4-0.6,0.6c33.9,45.8,79.1,64.5,121.8,85.4\
											C1265.3,1127.6,1282.3,1133.8,1295.9,1138.2z')
											path.st9(d='M1507.3,1021.3c-24.7-15.8-58.3-49.6-71.3-68.1c-16.4,32.9-41,58.2-65.1,76.3c-11.7,8.8-24.1,15.2-36.9,21\
											c-15.4,8.9,216.3,76.1,300.7,28.9C1585,1065.6,1554.3,1051.4,1507.3,1021.3z')
											path.st8(d='M1295.9,1138.2c71.5,13.1,143.8,22.1,216.2,15.6c37.3-3.3,73.7-10.9,108.7-25.2c19.7-8,48.4-20.1,65.2-39.8\
											c1.9-3.4,3.8-6.9,5.5-10.5c-0.6-0.9-1.1-1.8-1.8-2.5c-3.1,5.8-7.4,10.4-11.8,14.3c-45.4,40-118.9,47.1-175.2,45\
											c-63.4-2.2-113.1-10.4-177-25.7c-27.6-6.4-90-31.1-117.2-47.2c52.8-1.8,103.2-16.8,149.1-44.4c27.8-16.7,55-39.5,71.2-77.7\
											c-13,12.9-65.7,61.6-114.1,78c-44.9,15.1-149.4,25.9-187.2,16.6c-0.6-0.1-1.1-0.3-1.7-0.4c-0.2,0.2-0.4,0.4-0.6,0.6\
											c33.9,45.8,79.1,64.5,121.8,85.4C1265.3,1127.6,1282.3,1133.8,1295.9,1138.2z')
											path.st21(d='M1675.3,1076.8c-7.7,8.7-16.9,14.4-26.4,19c-33.9,16.4-71.6,19-108.7,19.9c32.1-6,60.7-13.8,92.6-22.5\
											c2.2,1.7-9-4.6-12.9-6.3c-5.7-2.4-11.4-4.8-17-7.4c-11.6-5.2-23.1-10.7-34.6-16.8c-22.9-12-70.8-41.3-104.4-77.8\
											C1466.2,985.8,1597.7,1090.4,1675.3,1076.8z')